<?xml version="1.0"?>
<!--
/**
 * Copyright © Sarus, LLC. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sarus>
            <general>
                <enabled>1</enabled>
                <my_courses>1</my_courses>
            </general>
            <api>
                <auth_token backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <max_time_resend>3</max_time_resend>
                <notification_sender>general</notification_sender>
                <notification_template>sarus_api_notification_template</notification_template>
                <log_filename>log/sarus/api.log</log_filename>
            </api>
        </sarus>
    </default>
</config>
